@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(30, 144, 255);
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 4px;
  font-family: 'Bebas Neue', cursive;
}

nav{
  background-color:rgb(255, 255, 255);
  display:flex;
  justify-content:center;
  
}

nav div {
  padding:8px;
  
}

.banner{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://mma.prnewswire.com/media/24227/Microsoft_Logo.jpg?p=facebook");
  height:300px;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    color: rgb(22, 22, 66);
    font-size: 1.1em;
    max-width:800px;
}



footer{
  background-color:rgb(255, 255, 255);
  display:flex;
  flex-direction:column;
  text-align:center; 
  justify-content:center;
}
